* {
  margin: 0;
  padding: 0;
}

.title {
  background-color: rgb(52, 15, 86);
  display:flex;
  min-width: 30vh;
 }

.nome {
  padding-left: 250px; 
  padding-top: 30px;
  font-size: 3cm;
  font-family: 'Dancing Script', cursiva;
  color: aquamarine;  
  flex-basis: 60%;  
}

img {
  height: 250px;  
}

.sabores {
  display: flex;
  width: 100%; 
}

.iten-flex-30 {
  flex-basis:30%;
}

.iten-flex-70 {
  flex-basis:70%;
  background-color: aquamarine;
}

.sabores-image {
  width: 100%;
  object-fit: cover;
}

.texto {
  font-style: normal;
  font-size: 5mm;
  flex-basis: 50%;
}

.colunas {
  display: flex;
  width: 100%;
}